.helpCenter{
    padding: .5rem 1rem;
    transition: all .3s ease-in;
    border-radius: .3rem;

}

.helpCenter:hover{
    background-color: var(--icons-color);
    color: var(--shadow-dark-color);
}