.filter {
  padding: 4rem 0;
  width: 100%;
}

.filter_box_items {
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid var(--icons-light-color);
}

@media screen and (min-device-width: 320px) and (max-device-width: 375px) {
  .filter_box_items {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-device-width: 377px) and (max-device-width: 476px) {
  .filter_box_items {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-device-width: 476px) and (max-device-width: 786px) {
  .filter_box_items {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
}
